.button__pagination {
    font-size: .9375rem;
    border-radius: var(--standard-border-radius);
    width: var(--standard-button-height);
    height: var(--standard-button-height);
}

.pagination {
    width: 100%;
    padding: 8px 34px;
    color: var(--main-text-color);
}

.pagination li.pagination__item {
    margin: 0.1875rem;
    border-radius: var(--standard-border-radius);
}

.pagination li li:hover:not(.pagination-active) {
    background: var(--pagination-button-hover-color);
}

.pagination li#paginationPrev:hover,
.pagination li#paginationNext:hover {
    background: var(--pagination-button-action-hover-color);
}


.pagination__list {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.pagination__content {
    background: var(--button-color-underlay);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pagination-active {
    background: var(--decorative-main-color);
    color: var(--color-white);
}

.pagination-expand {
    color: var(--color-secondary) !important;
    pointer-events: none;
}