html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--authorization-main-background-color);
}

a {
 color: var(--decorative-main-color);
}