<td>
  <span data-cell="id" class="font-weight-medium text-base"></span>
</td>

<td>
  <div class="d-flex align-center">
    <div class="table-margin-1">
      <div class="table-img" style="width: 50px;">
        <img data-cell="image" class="table-inner-img" style="width: 40px;">
      </div>
    </div>
    <div>
      <p data-cell="name" class="font-weight-medium text-base mb-0"></p>
      <p data-cell="brand-name" class="text-sm mb-0 text-disabled"></p>
    </div>
  </div>
</td>

<td class="d-flex flex-row align-items-center">
  <div class="card-list-item__prepend">
    <div id="underlayColor" class="card-list-item-img card-list-item-img-category" style="width: 34px; height: 34px;">
      <app-svg-icon data-cell="category-icon" icon="" class="svg-icon"
        style="font-size: 22px; margin: auto"></app-svg-icon>
      <span class="card-list__underlay card-list__circle-underlay"></span>
    </div>
  </div>
  <span data-cell="category-name" class="font-weight-medium text-base mb-0"></span>
</td>

<td>
  <div class="table-img" style="width: 40px;">
    <app-svg-icon data-cell="brand-icon" icon="" class="svg-icon" style="font-size: 55px"></app-svg-icon>
  </div>
</td>

<td>
  <div class="d-flex flex-row align-center">
    <span class="font-weight-medium text-base">&#65284;</span>
    <span data-cell="regular-price" class="font-weight-medium text-base"></span>
  </div>
</td>

<td>
  <span data-cell="stock" class="font-weight-medium text-base"></span>
</td>

<td>
  <button type="button" class="button-circle text-disabled">
    <span class="button__underlay">
      <app-svg-icon icon="iconUiButtonEdit" class="svg-icon button-circle-icon" style="font-size: 22px;"></app-svg-icon>
    </span>
  </button>
  <button type="button" class="button-circle text-disabled">
    <span class="button__underlay">
      <app-svg-icon icon="iconUiButtonDelete" class="svg-icon button-circle-icon"
        style="font-size: 22px;"></app-svg-icon>
    </span>
  </button>
</td>