<div class="table-wrapper text-no-wrap table-with-row">
  <table class="w-100">
    <thead>
      <tr>
        <th class="font-weight-medium">ID</th>
        <th class="font-weight-medium">PRODUCT</th>
        <th class="font-weight-medium">CATEGORY</th>
        <th class="font-weight-medium">BRAND</th>
        <th class="font-weight-medium">PRICE</th>
        <th class="font-weight-medium">STOCK</th>
        <th class="font-weight-medium">ACTION</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>