<div class="card card-component p-3">
  <div class="card-title card-header card-header-transparent">Product Picture</div>
  <div class="card-body text-center">
    <div class="image-round__underlay mb-3">
      <app-svg-icon icon="iconUiUploadPicture" class="svg-icon mb-2" style="font-size: 75px"></app-svg-icon>
    </div>
    <div class="small font-italic text-disabled card-subtitle mb-4">JPG or PNG no larger than 5 MB</div>
    <button data-action="uploadProductImage" type="button" class="button-wrapper" style="width: 80%; height: 100%">
      <span class="button-action">
        <span class="button-action-title">Upload product image</span>
      </span>
    </button>
  </div>
</div>