.category-badge-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.category-badge__item {
    cursor: pointer;
    color: inherit;
    background: transparent;
    display: inline-flex;
    gap: 5px;
    position: relative;
    align-items: center;
    vertical-align: middle;
    font-size: .8125rem;
    height: 24px;
    max-width: 100%;
    padding: 0 10px;
    border-width: 0;
    border-radius: 9999px;
}

.category-badge__underlay {
    position: absolute;
    border-radius: inherit;
    background: currentColor;
    opacity: 0.16;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.category-badge-wrapper--large {
    gap: 20px;
}

.category-badge__item--large {
    font-size: 15px;
    height: 50px; 
    padding: 0 20px;
    border-radius: var(--standard-border-radius);
}