<div data-product-list="" class="table-wrapper text-no-wrap table-with-row">
  <table class="w-100">
    <thead data-product-list="">
      <tr data-product-list="">
        <th data-product-list="" class="font-weight-medium"> ID </th>
        <th data-product-list="" class="font-weight-medium"> CATEGORY </th>
        <th data-product-list="" class="font-weight-medium"> PRODUCT </th>
        <th data-product-list="" class="font-weight-medium"> BRAND </th>
        <th data-product-list="" class="font-weight-medium"> PRICE </th>
        <th data-product-list="" class="font-weight-medium"> STOCK </th>
      </tr>
    </thead>

    <tbody data-product-list="">
      <tr data-product-list="">
        <td data-product-list="">
          <span data-product-list="" class="font-weight-medium text-base">#00124</span>
        </td>
        <td data-product-list="" class="d-flex flex-row align-items-center">
          <div class="card-list-item__prepend">
            <div data-product-list="" class="card-list-item-img card-list-item-img-category text-error"
              style="width: 34px; height: 34px;">
              <app-svg-icon icon="iconCategoryShoes" class="svg-icon"
                style="font-size: 22px; margin: auto"></app-svg-icon>
              <span class="card-list__underlay card-list__circle-underlay"></span>
            </div>
          </div>
          <span class="font-weight-medium text-base mb-0">Shoes</span>
        </td>
        <td data-product-list="">
          <div data-product-list="" class="d-flex align-center">
            <div data-product-list="" class="table-margin-1">
              <div data-product-list="" class="table-img" style="width: 50px;">
                <img class="table-inner-img" src="../../../images/products/product-02.png">
              </div>
            </div>
            <div data-product-list="">
              <p data-product-list="" class="font-weight-medium text-base mb-0">Nike Tech Hera</p>
              <p data-product-list="" class="text-sm mb-0 text-disabled">Nike</p>
            </div>
          </div>
        </td>
        <td data-product-list="">
          <div data-product-list="" class="table-img" style="width: 40px;">
            <app-svg-icon icon="iconBrandNike" class="svg-icon" style="font-size: 55px"></app-svg-icon>
          </div>
        </td>
        <td data-product-list="">
          <div class="d-flex flex-row align-center">
            <span class="font-weight-medium text-base">&#65284;</span>
            <span data-product-list="" class="font-weight-medium text-base">110</span>
          </div>
        </td>
        <td data-product-list="">
          <span data-product-list="" class="font-weight-medium text-base">668</span>
        </td>
      </tr>


      <tr data-product-list="">
        <td data-product-list="">
          <span data-product-list="" class="font-weight-medium text-base">#00127</span>
        </td>
        <td data-product-list="" class="d-flex flex-row align-items-center">
          <div class="card-list-item__prepend">
            <div data-product-list="" class="card-list-item-img card-list-item-img-category text-error"
              style="width: 34px; height: 34px;">
              <app-svg-icon icon="iconCategoryShoes" class="svg-icon"
                style="font-size: 22px; margin: auto"></app-svg-icon>
              <span class="card-list__underlay card-list__circle-underlay"></span>
            </div>
          </div>
          <span class="font-weight-medium text-base mb-0">Shoes</span>
        </td>
        <td data-product-list="">
          <div data-product-list="" class="d-flex align-center">
            <div data-product-list="" class="table-margin-1">
              <div data-product-list="" class="table-img" style="width: 50px;">
                <img class="table-inner-img" src="../../../images/products/product-05.png" style="width: 40px;">
              </div>
            </div>
            <div data-product-list="">
              <p data-product-list="" class="font-weight-medium text-base mb-0">Adilette 22 slides</p>
              <p data-product-list="" class="text-sm mb-0 text-disabled">Adidas</p>
            </div>
          </div>
        </td>
        <td data-product-list="">
          <div data-product-list="" class="table-img" style="width: 40px;">
            <app-svg-icon icon="iconBrandAdidas" class="svg-icon" style="font-size: 30px"></app-svg-icon>
          </div>
        </td>
        <td data-product-list="">
          <div class="d-flex flex-row align-center">
            <span class="font-weight-medium text-base">&#65284;</span>
            <span data-product-list="" class="font-weight-medium text-base">60</span>
          </div>
        </td>
        <td data-product-list="">
          <span data-product-list="" class="font-weight-medium text-base">897</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>