<aside class="sidenav-theme">
	<aside class="sidenav-layout">
		<div class="sidenav-header">
			<a href="#" class="sidenav-logo d-flex align-center gap-x-3 sidenav-title-wrapper">
				<img src="/src/images/ui-img/shoppy-main-logo.png" width="42" height="42">
				<h1 class="sidenav-title font-weight-bold text-capitalize leading-normal text-xl">
					Shoppy Admin</h1>
			</a>
		</div>

		<ul class="sidenav-items">
			<li class="nav-link">
				<a is="app-link" href="/" class="nav-link-active-exact">
					<app-svg-icon icon="navDashboard" class="svg-icon svg-icon-active" style="font-size: 21px"></app-svg-icon>
					<span class="nav-item-title">Dashboard</span>
				</a>
			</li>


			<li class="sidenav-section-title">
				<div class="title-wrapper">
					<span class="sidenav-section-title-text">Shop details</span>
				</div>
			</li>


			<li class="nav-group">
				<div class="nav-group-label">
					<app-svg-icon icon="navProducts" class="svg-icon" style="font-size: 21px"></app-svg-icon>
					<span class="nav-item-title">Products</span>
					<app-svg-icon icon="iconUiArrowRight" class="svg-icon nav-group-arrow" style="font-size: 18px"></app-svg-icon>
				</div>

				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/products/product-list" class="">
							<app-svg-icon icon="iconUiCircle" class="svg-icon" style="font-size: 10px"></app-svg-icon>
							<span class="nav-item-title">Product list</span>
						</a>
					</li>
					<li class="nav-link">
						<a is="app-link" href="/products/create-product" class="">
							<app-svg-icon icon="iconUiCircle" class="svg-icon" style="font-size: 10px"></app-svg-icon>
							<span class="nav-item-title">Create product</span>
						</a>
					</li>
					<li class="nav-link">
						<a is="app-link" href="/products/review" class="">
							<app-svg-icon icon="iconUiCircle" class="svg-icon" style="font-size: 10px"></app-svg-icon>
							<span class="nav-item-title">Review</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-group">
				<div class="nav-group-label">
					<app-svg-icon icon="navCategories" class="svg-icon" style="font-size: 18px"></app-svg-icon>
					<span class="nav-item-title">Categories</span>
					<app-svg-icon icon="iconUiArrowRight" class="svg-icon nav-group-arrow" style="font-size: 18px"></app-svg-icon>
				</div>
				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/categories/category-list" class="">
							<app-svg-icon icon="iconUiCircle" class="svg-icon" style="font-size: 10px"></app-svg-icon>
							<span class="nav-item-title">Category list</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-group">
				<div class="nav-group-label">
					<app-svg-icon icon="navOrders" class="svg-icon" style="font-size: 21px"></app-svg-icon>
					<span class="nav-item-title">Orders</span>
					<app-svg-icon icon="iconUiArrowRight" class="svg-icon nav-group-arrow" style="font-size: 18px"></app-svg-icon>
				</div>
				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/orders/order-list" class="">
							<app-svg-icon icon="iconUiCircle" class="svg-icon" style="font-size: 10px"></app-svg-icon>
							<span class="nav-item-title">Order list</span>
						</a>
					</li>
				</ul>
			</li>


			<li class="sidenav-section-title">
				<div class="title-wrapper">
					<span class="sidenav-section-title-text">Management</span>
				</div>
			</li>


			<li class="nav-link">
				<a is="app-link" href="/customers" class="">
					<app-svg-icon icon="navCustomers" class="svg-icon" style="font-size: 18px"></app-svg-icon>
					<span class="nav-item-title">Customers</span>
				</a>
			</li>

			<li class="nav-group">
				<div class="nav-group-label">
					<app-svg-icon icon="navEarnings" class="svg-icon" style="font-size: 19px"></app-svg-icon>
					<span class="nav-item-title">Earnings</span>
					<app-svg-icon icon="iconUiArrowRight" class="svg-icon nav-group-arrow" style="font-size: 18px"></app-svg-icon>
				</div>

				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/payouts" class="">
							<app-svg-icon icon="iconUiCircle" class="svg-icon" style="font-size: 10px"></app-svg-icon>
							<span class="nav-item-title">Payouts</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-link">
				<a is="app-link" href="/reviews" class="">
					<app-svg-icon icon="navReviews" class="svg-icon" style="font-size: 18px"></app-svg-icon>
					<span class="nav-item-title">Reviews</span>
				</a>
			</li>


			<li class="sidenav-section-title">
				<div class="title-wrapper">
					<span class="sidenav-section-title-text">Settings</span>
				</div>
			</li>


			<li class="nav-link">
				<a is="app-link" href="/shop-setting" class="">
					<app-svg-icon icon="navShopSetting" class="svg-icon" style="font-size: 21px"></app-svg-icon>
					<span class="nav-item-title">Shop Setting</span>
				</a>
			</li>

			<li class="nav-link">
				<a is="app-link" href="account-setting" class="">
					<app-svg-icon icon="navAccountSetting" class="svg-icon" style="font-size: 21px"></app-svg-icon>
					<span class="nav-item-title">Account Setting</span>
				</a>
			</li>

			<li class="nav-link">
				<a is="app-link" href="site-setting" class="">
					<app-svg-icon icon="navSiteSetting" class="svg-icon" style="font-size: 21px"></app-svg-icon>
					<span class="nav-item-title">Site Setting</span>
				</a>
			</li>

			<li class="nav-link">
				<a is="app-link" href="logout" class="">
					<app-svg-icon icon="navLogout" class="svg-icon" style="font-size: 20px"></app-svg-icon>
					<span class="nav-item-title">Logout</span>
				</a>
			</li>
		</ul>
	</aside>
</aside>