<aside class="sidenav-theme">
	<aside class="sidenav-layout">
		<div class="sidenav-header">
			<a href="#" class="sidenav-logo d-flex align-center gap-x-3 sidenav-title-wrapper">
				<img src="/src/images/ui-img/shoppy-main-logo.png" width="42" height="42">
				<h1 class="sidenav-title font-weight-bold text-capitalize leading-normal text-xl">
					Shoppy Admin</h1>
			</a>
		</div>

		<ul class="sidenav-items">
			<li class="nav-link">
				<a is="app-link" href="/" class="nav-link-active-exact">
					<img src="/src/assets/svg-sidenav/nav-dashboard.svg" alt="" class="svg-icon">
					<span class="nav-item-title">Dashboard</span>
				</a>
			</li>



			<li class="sidenav-section-title">
				<div class="title-wrapper">
					<span class="sidenav-section-title-text">Shop details</span>
				</div>
			</li>



			<li class="nav-group">
				<div class="nav-group-label">
					<img src="/src/assets/svg-sidenav/nav-products.svg" alt="" class="svg-icon">
					<span class="nav-item-title">Products</span>
					<img src="/src/assets/svg-ui/ui-arrow-right.svg" alt="" class="svg-icon nav-group-arrow"
						style="font-size: 18px; height: 18px; width: 18px;">
				</div>

				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/products/product-list" class="">
							<img src="/src/assets/svg-ui/ui-list-circle.svg" alt="" class="svg-icon"
								style="font-size: 10px; height: 10px; width: 10px;">
							<span class="nav-item-title">Product list</span>
						</a>
					</li>
					<li class="nav-link">
						<a is="app-link" href="/products/create-product" class="">
							<img src="/src/assets/svg-ui/ui-list-circle.svg" alt="" class="svg-icon"
								style="font-size: 10px; height: 10px; width: 10px;">
							<span class="nav-item-title">Create product</span>
						</a>
					</li>
					<li class="nav-link">
						<a is="app-link" href="/products/review" class="">
							<img src="/src/assets/svg-ui/ui-list-circle.svg" alt="" class="svg-icon"
								style="font-size: 10px; height: 10px; width: 10px;">
							<span class="nav-item-title">Review</span>
						</a>
					</li>
				</ul>
			</li>


			<li class="nav-group">
				<div class="nav-group-label">
					<img src="/src/assets/svg-sidenav/nav-categories.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Categories</span>
					<img src="/src/assets/svg-ui/ui-arrow-right.svg" alt="" class="svg-icon nav-group-arrow"
						style="font-size: 18px; height: 18px; width: 18px;">
				</div>
				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/categories/category-list" class="">
							<img src="/src/assets/svg-ui/ui-list-circle.svg" alt="" class="svg-icon"
								style="font-size: 10px; height: 10px; width: 10px;">
							<span class="nav-item-title">Category list</span>
						</a>
					</li>
				</ul>
			</li>


			<li class="nav-group">
				<div class="nav-group-label">
					<img src="/src/assets/svg-sidenav/nav-orders.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Orders</span>
					<img src="/src/assets/svg-ui/ui-arrow-right.svg" alt="" class="svg-icon nav-group-arrow"
						style="font-size: 18px; height: 18px; width: 18px;">
				</div>
				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/orders/order-list" class="">
							<img src="/src/assets/svg-ui/ui-list-circle.svg" alt="" class="svg-icon"
								style="font-size: 10px; height: 10px; width: 10px;">
							<span class="nav-item-title">Order list</span>
						</a>
					</li>
				</ul>
			</li>



			<li class="sidenav-section-title">
				<div class="title-wrapper">
					<span class="sidenav-section-title-text">Management</span>
				</div>
			</li>



			<li class="nav-link">
				<a is="app-link" href="/customers" class="">
					<img src="/src/assets/svg-sidenav/nav-customers.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Customers</span>
				</a>
			</li>


			<li class="nav-group">
				<div class="nav-group-label">
					<img src="/src/assets/svg-sidenav/nav-earnings.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Earnings</span>
					<img src="/src/assets/svg-ui/ui-arrow-right.svg" alt="" class="svg-icon nav-group-arrow"
						style="font-size: 18px; height: 18px; width: 18px;">
				</div>

				<ul class="nav-group-children" style="display: none;">
					<li class="nav-link">
						<a is="app-link" href="/payouts" class="">
							<img src="/src/assets/svg-ui/ui-list-circle.svg" alt="" class="svg-icon"
								style="font-size: 10px; height: 10px; width: 10px;">
							<span class="nav-item-title">Payouts</span>
						</a>
					</li>
				</ul>
			</li>


			<li class="nav-link">
				<a is="app-link" href="/reviews" class="">
					<img src="/src/assets/svg-sidenav/nav-reviews.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Reviews</span>
				</a>
			</li>


			<li class="sidenav-section-title">
				<div class="title-wrapper">
					<span class="sidenav-section-title-text">Settings</span>
				</div>
			</li>


			<li class="nav-link">
				<a is="app-link" href="/shop-setting" class="">
					<img src="/src/assets/svg-sidenav/nav-shop-setting.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Shop Setting</span>
				</a>
			</li>


			<li class="nav-link">
				<a is="app-link" href="account-setting" class="">
					<img src="/src/assets/svg-sidenav/nav-account-setting.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Account Setting</span>
				</a>
			</li>


			<li class="nav-link">
				<a is="app-link" href="site-setting" class="">
					<img src="/src/assets/svg-sidenav/nav-site-setting.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Site Setting</span>
				</a>
			</li>


			<li class="nav-link">
				<a is="app-link" href="logout" class="">
					<img src="/src/assets/svg-sidenav/nav-logout.svg" alt="" class="svg-icon"
						style="font-size: 18px; height: 18px; width: 18px;">
					<span class="nav-item-title">Logout</span>
				</a>
			</li>
		</ul>
	</aside>
</aside>