<div class="card-body d-flex justify-content-center flex-column">
  <div data-earning="" class="card-item pb-0" style="padding-right: 0px !important;">
    <div class="card-item__content">
      <span data-earning="" class="card-title">Total Earning</span>
      <div data-earning="" class="d-flex align-center mt-2">
        <h4 data-earning="" class="text-main-info me-2"> 87% </h4>
        <div data-earning="" class="text-success">
          <app-svg-icon icon="iconUiArrowTop" class="svg-icon nav-group-arrow" style="font-size: 18px"></app-svg-icon>
          <span data-earning="" class="text-base text-success">25.8%</span>
        </div>
      </div>
    </div>
    <div class="card-item__append align-self-baseline">
      <div class="table-card-more-btn">
        <button type="button">
          <app-svg-icon icon="iconUiButtonMore" class="svg-icon" style="font-size: 22px; color: var(--main-text-color)"></app-svg-icon>
        </button>
      </div>
    </div>
  </div>
  <div data-earning="" class="card-text" style="position: relative;">
    <img src="/src/assets/chart/total-earning-chart.png" style="width: 100%; margin: auto;" />
    <div data-earning="" class="card-list mt-4">
      <div data-earning="" class="card-list-item">
        <div class="card-list-item__prepend">
          <div data-earning="" class="card-list-item-img text-primary" style="width: 34px; height: 34px;">
            <img src="/src/assets/svg-ui/ui-dollar.svg" alt="" class="svg-icon">
            <span class="card-list__underlay"></span>
          </div>
        </div>
        <div class="card-item__content">
          <div data-earning="" class="card-list-item-title font-weight-medium">Total Sales</div>
          <div data-earning="" class="card-list-item-subtitle text-disabled">Total Sales</div>
        </div>
        <div class="card-item__append">
          <span data-earning="" class="text-success font-weight-medium">+$98</span>
        </div>
      </div>
      <div data-earning="" class="card-list-item">
        <div class="card-list-item__prepend">
          <div data-earning="" class="card-list-item-img text-warning" style="width: 34px; height: 34px;">
            <img src="/src/assets/svg-ui/ui-paypal.svg" alt="" class="svg-icon">
            <span class="card-list__underlay"></span>
          </div>
        </div>
        <div class="card-item__content">
          <div data-earning="" class="card-list-item-title font-weight-medium">Total Revenue</div>
          <div data-earning="" class="card-list-item-subtitle text-disabled">Client Payment</div>
        </div>
        <div class="card-item__append">
          <span data-earning="" class="text-success font-weight-medium">+$126</span>
        </div>
      </div>
    </div>
  </div>
</div>