<div class="category-badge-wrapper category-badge-wrapper--big">

  <span class="category-badge__item category-badge__item--big text-value">
    <span class="category-badge__underlay"></span>
    <app-svg-icon icon="iconCategoryComputer" class="svg-icon" style="font-size: 20px; margin: auto"></app-svg-icon>
    Computer
  </span>

  <span class="category-badge__item category-badge__item--big text-info">
    <span class="category-badge__underlay"></span>
    <app-svg-icon icon="iconCategoryGlass" class="svg-icon" style="font-size: 20px; margin: auto"></app-svg-icon>
    Glass
  </span>

  <span class="category-badge__item category-badge__item--big text-error">
    <span class="category-badge__underlay"></span>
    <app-svg-icon icon="iconCategoryShoes" class="svg-icon" style="font-size: 20px; margin: auto"></app-svg-icon>
    Shoes
  </span>

  <span class="category-badge__item category-badge__item--big text-warning">
    <span class="category-badge__underlay"></span>
    <app-svg-icon icon="iconCategorySmartPhone" class="svg-icon" style="font-size: 20px; margin: auto"></app-svg-icon>
    Smart Phone
  </span>

  <span class="category-badge__item category-badge__item--big text-primary">
    <span class="category-badge__underlay"></span>
    <app-svg-icon icon="iconCategoryTechnics" class="svg-icon" style="font-size: 20px; margin: auto"></app-svg-icon>
    Technics
  </span>

  <span class="category-badge__item category-badge__item--big text-success">
    <span class="category-badge__underlay"></span>
    <app-svg-icon icon="iconCategoryTV" class="svg-icon" style="font-size: 20px; margin: auto"></app-svg-icon>
    TV
  </span>

</div>