<div class="me-3">
  <div class="card-wrapper-title m-3">
    <p class="card-title">Currency</p>
    <p class="card-subtitle">Daily Overview</p>
  </div>
  <div class="d-flex flex-column p-lg-4">
    <div class="d-flex flex-row currency-table currency-table-name">
      <img src="/src/images/currency/flag-europe.png" height="0px" width="45px"
        style="border-radius: 50%; visibility: hidden;">
      <span class="card-title">Buy</span>
      <span class="card-title">Sale</span>
    </div>
    <div class="currency-table-info">

      <div class="d-flex flex-row currency-table" data-currency="USD">
        <img src="/src/images/currency/flag-america.png" height="43px" width="43px" style="border-radius: 50%;">
        <div class="d-flex flex-column currency-table-body">
          <div class="d-flex flex-row currency-table">
            <div>
              <span class="currency-value">&#65284;</span>
              <span id="rateBuy" class="currency-value"></span>
            </div>
            <div>
              <span class="currency-value">&#65284;</span>
              <span id="rateSale" class="currency-value"></span>
            </div>
          </div>
          <span class="currency-name">USD US Dollar</span>
        </div>
      </div>

      <div class="d-flex flex-row currency-table" data-currency="EUR">
        <img src="/src/images/currency/flag-europe.png" height="43px" width="43px" style="border-radius: 50%;">
        <div class="d-flex flex-column currency-table-body">
          <div class="d-flex flex-row currency-table">
            <div>
              <span class="currency-value">&euro;</span>
              <span id="rateBuy" class="currency-value"></span>
            </div>
            <div>
              <span class="currency-value">&euro;</span>
              <span id="rateSale" class="currency-value"></span>
            </div>
          </div>
          <span class="currency-name">EUR Euro</span>
        </div>
      </div>

      <div class="d-flex flex-row currency-table" data-currency="GBP">
        <img src="/src/images/currency/flag-united-kingdom.png" height="43px" width="43px" style="border-radius: 50%;">
        <div class="d-flex flex-column currency-table-body">
          <div class="d-flex flex-row currency-table">
            <div>
              <span class="currency-value">&pound;</span>
              <span id="rateBuy" class="currency-value"></span>
            </div>
            <div>
              <span class="currency-value">&pound;</span>
              <span id="rateSale" class="currency-value"></span>
            </div>
          </div>
          <span class="currency-name">GBP British Pound</span>
        </div>
      </div>

      <div class="d-flex flex-row currency-table" data-currency="PLN">
        <img src="/src/images/currency/flag-poland.png" height="43px" width="43px" style="border-radius: 50%;">
        <div class="d-flex flex-column currency-table-body">
          <div class="d-flex flex-row currency-table">
            <div>
              <span class="currency-value">z&lstrok;</span>
              <span id="rateBuy" class="currency-value"></span>
            </div>
            <div>
              <span class="currency-value">z&lstrok;</span>
              <span id="rateSale" class="currency-value"></span>
            </div>
          </div>
          <span class="currency-name">PLN Polish Zloty</span>
        </div>
      </div>

    </div>
  </div>
</div>