<div id="alert" class="alert alert-icon border-top-lg mb-0" role="alert" style="display: none;">
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
  <div class="alert-icon-aside">
    <app-svg-icon icon="iconUiNotification" class="svg-alert svg-icon" style="font-size: 32px"></app-svg-icon>
  </div>
  <div class="alert-icon-content d-flex flex-column">
    <span id="alertStatus" class="alert-heading"></span>
    <span id="alertDescription"></span>
  </div>
</div>