.alert-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.alert {
    z-index: 1200;
    position: fixed;
    width: 35%;
    right: 1.5rem;
    bottom: 3.5rem;
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
    color: var(--alert-text-color) !important;
    background-color: var(--alert-background-color) !important;
    border: 1px solid var(--alert-border-color) !important;
    border-radius: var(--standard-border-radius);
}

.alert-heading {
    font-size: 20px;
}

.alert-icon button.btn-close {
    position: absolute;
    align-self: flex-start;
    right: 1rem;
    filter: invert(16%) sepia(37%) saturate(4791%) hue-rotate(261deg) brightness(78%) contrast(129%);
}

.btn-close {
    box-sizing: content-box;
    width: 0.5em;
    height: 0.5em;
}

.svg-alert {
    display: inline-block;
    height: 100%;
    width: 2rem;
}