<header class="header-layout">
	<div class="header-content-container m-1">
		<div class="d-flex h-100 align-center">
			<div class="d-flex align-center cursor-pointer">
				<button type="button" class="me-1">
					<img src="/src/assets/svg-header/header-search.svg" alt="" class="svg-icon"
						style="font-size: 26px; height: 26px; width: 26px;">
				</button>
				<span class="d-none d-md-flex align-center text-disabled">
					<span class="me-3">Search</span>
				</span>
			</div>

			<div class="flex-grow-1"></div>
			<button type="button" class="me-1">
				<img src="/src/assets/svg-header/header-theme.svg" alt="" class="svg-icon"
					style="font-size: 26px; height: 26px; width: 26px;">
			</button>

			<button type="button" class="me-1">
				<img src="/src/assets/svg-header/header-products.svg" alt="" class="svg-icon"
					style="font-size: 26px; height: 26px; width: 26px;">
			</button>

			<button type="button" class="me-1">
				<img src="/src/assets/svg-header/header-notification.svg" alt="" class="svg-icon"
					style="font-size: 26px; height: 26px; width: 26px;">
			</button>

			<div class="round-image-wrapper cursor-pointer">
				<div class="round-image-inner">
					<img class="round-image-img" src="/src/images/user/user-account-photo.png">
				</div>
			</div>

		</div>
	</div>
</header>