.button-wrapper {
    overflow: hidden;
    margin-inline: .875rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px rgba(var(--value-decorative-main-color), .48);
}

.button-wrapper a {
    display: flex;
    align-items: center;
}

.button-action {
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 43px;
    background: linear-gradient(72.47deg, var(--color-primary) 22.16%, rgba(var(--value-decorative-main-color), .8) 76.47%) !important;
}

.button-action-icon {
    margin: 0px;
    position: relative;
    margin-inline-end: 0.5rem;
    color: var(--color-white) !important;
}

.button-action-title {
    color: var(--color-white) !important;
    letter-spacing: .15px;
    line-height: 35px;
}

.button-login {
    background-color: var(--decorative-main-color) !important;
    color: var(--button-decorative-text-color) !important;
    border-color: var(--decorative-main-color) !important;
    width: 100%;
    letter-spacing: .0269rem;
}

.button-login:hover {
    background: var(--button-decorative-hover-color) !important;
    width: 98%;
}

.button-circle {
    border-radius: 50%;
    font-size: .9375rem;
    width: calc(var(--standard-button-height) + 0px);
    height: calc(var(--standard-button-height) + 0px);
    transform: scale(1.001);
}

.button-circle-icon {
    margin-top: 8px;
}

.button__underlay {
    text-align: center;
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .15s ease-in-out;
}

.button__underlay:hover {
    background: var(--button-color-underlay);
}