.round-image-wrapper {
    height: calc(var(--standard-image-height) + 0px);
    width: calc(var(--standard-image-height) + 0px);
}

.round-image-inner {
    display: flex;
    overflow: hidden;
    flex: 1 0 auto;
}

.round-image-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.image-round__underlay {
    width: 13rem;
    height: 13rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--image-background-color-underlay);
    color: var(--image-svg-color-underlay);
    border-radius: 50% !important;
}