.svg-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: middle;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    margin-inline-start: 0.3rem;
    margin-inline-end: 0.5rem;
    font-size: 1.375rem;
    letter-spacing: normal;
    line-height: 1;
    text-indent: 0;
    user-select: none;
}

.round-image-wrapper {
    height: calc(var(--standard-image-height) + 0px);
    width: calc(var(--standard-image-height) + 0px);
}

.round-image-inner {
    display: flex;
    overflow: hidden;
    flex: 1 0 auto;
}

.round-image-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
} 