<div class="card-body d-flex justify-content-center flex-column">
	<div class="d-flex flex-row justify-content-around align-items-center">
		<div class="d-flex flex-column justify-content-center">
			<h4 class="note-title card-title">Create note</h4>
			<ul>
				<li class="text-subtitle note-list-item">To make an audit</li>
				<li class="text-subtitle note-list-item">Get a new batch of goods</li>
				<li class="text-subtitle note-list-item">Send a report to the tax office</li>
			</ul>
		</div>
		<img src="/src/assets/svg-ui/ui-note.svg" alt="" style="font-size: 70px; height: 70px; width: 70px;">
	</div>

	<button class="button-wrapper">
		<span class="button-action">
			<app-svg-icon icon="iconUiButtonAdd" class="button-action-icon" style="font-size: 14px"></app-svg-icon>
			<span class="button-action-title">Add note</span>
		</span>
	</button>

</div>